.board {
    position: relative;
    width: 360px;
    height: 640px;
    margin:auto;
}

.boardarea {
    height: 600px;
    left: 20px;
    top: 25px;
    background: #F7DF1E;
    border-radius: 26px;
}
