.tetris_area {
    position: absolute;
    width: 220px;
    height: 420px;
    left: 15px;
    top: 69px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    border-radius: 18px;
}

.tetris_area > div {
    margin-top: 10px;
}

.tetris_area > div > div {
    width: 199px;
    margin: auto;
}

.empty {
    float: left;
    width: 19px;
    height: 19px;
    background: #C4C4C4;
    margin-right:1px;
    margin-bottom: 1px;
}

.empty:last-child {
    float: left;
    width: 19px;
    height: 19px;
    background: #C4C4C4;
    margin-right:0px;
    margin-bottom: 1px;
}

.tetromino1 {
    background: #FF0000;
}

.tetromino2 {
    background: #00CFEB;
}

.tetromino3 {
    background: #FF9900;
}

.tetromino4 {
    background: #00B533;
}

.tetromino5 {
    background: #FFF393;
}

.tetromino6 {
    background: #4200FF;
}

.tetromino7 {
    background: #8000FF;
}