.tetris-area {
    position: absolute;
    width: 220px;
    height: 420px;
    left: 15px;
    top: 69px;
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #FFFFFF;
    border-radius: 18px;
}

.tetris-area > div {
    margin-top: 10px;
}

.tetris-area > div > div {
    width: 199px;
    margin: auto;
}

.empty {
    float: left;
    width: 19px;
    height: 19px;
    background: #C4C4C4;
    margin-right:1px;
    margin-bottom: 1px;
}

.empty:last-child {
    float: left;
    width: 19px;
    height: 19px;
    background: #C4C4C4;
    margin-right:0px;
    margin-bottom: 1px;
}