.tetromino_area {
    position: absolute;
    width: 60px;
    height: 108px;
    left: 248px;
    top: 158px;

    background: #FFFFFF;
    border-radius: 10px;
}

.next_title {
    position: absolute;
    left: 28.33%;
    right: 30%;
    top: 2.78%;
    bottom: 84.26%;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
}

.tetromino_area > div:last-child {
    margin-top: 22px;
}

.tetromino_area > div > div {
    width: 39px;
    margin: auto;
}

.tetromino_area > div > div > div {
    float: left;
    width: 19px;
    height: 19px;
    margin-right:1px;
    margin-bottom: 1px;
}

.tetromino_area > div > div > div:last-child {
    float: left;
    width: 19px;
    height: 19px;
    margin-right:0px;
    margin-bottom: 1px;
}

.empty {
    background: #C4C4C4;
}

.tetromino1 {
    background: #FF0000;
}

.tetromino2 {
    background: #FF9900;
}

.tetromino3 {
    background: #FFF393;
}

.tetromino4 {
    background: #00B533;
}

.tetromino5 {
    background: #4200FF;
}

.tetromino6 {
    background: #8000FF;
}

.tetromino7 {
    background: #00CFEB;
}