.tetromino_area {
    height: 108px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: 10px 10px 0 10px;
    text-align: center;
}

.next_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    margin-top: 50px;
    padding-top: 10px;

    color: #000000;
}

.tetromino_area > div:last-child {
    margin-top: 22px;
}

.tetromino_area > div > div {
    width: 79px;
    margin: auto;
}

.tetromino_area > div > div > div {
    float: left;
    width: 19px;
    height: 19px;
    margin-right:1px;
    margin-bottom: 1px;
}

.tetromino_area > div > div > div:last-child {
    float: left;
    width: 19px;
    height: 19px;
    margin-right:0px;
    margin-bottom: 1px;
}

.empty {
    background: #C4C4C4;
}

.tetromino1 {
    background: #FF0000;
}

.tetromino2 {
    background: #FF9900;
}

.tetromino3 {
    background: #FFF393;
}

.tetromino4 {
    background: #00B533;
}

.tetromino5 {
    background: #4200FF;
}

.tetromino6 {
    background: #8000FF;
}

.tetromino7 {
    background: #00CFEB;
}