.operator_area {
    height: 65px;
}

.space_button {
    margin: 15px;
    float:left;
    width:30%;
}

.operator_right_area {
    margin: 15px 0;
    float:left;
    width:60%;
}

.operator_down_area {
    float:left;
}

.left_button {
    float: left;
    width:58px;
}

.down_button {
    float: left;
    width:58px;
}

.right_button {
    float: left;
    width:58px;
}

.up_button {
    float: left;
    margin-left:58px;
}
