.operator_area {
    position: absolute;
    width: 265px;
    height: 65px;
    left: 22px;
    top: 501px;
}

.left_button {
    position: absolute;
    left: 39.62%;
    right: 41.51%;
    top: 53.85%;
    bottom: 0%;
}

.down_button {
    position: absolute;
    left: 60.38%;
    right: 20.75%;
    top: 53.85%;
    bottom: 0%;
}

.right_button {
    position: absolute;
    left: 81.13%;
    right: 0%;
    top: 53.85%;
    bottom: 0%;
}

.up_button {
    position: absolute;
    left: 60.38%;
    right: 20.75%;
    top: 0%;
    bottom: 53.85%;
}
